
#area_info_content container {
    width:90%;
    height:90%;
    overflow: auto;
}

.flex{
    display:flex;
    align-items: center;
    flex-flow: row wrap;

}

.flexElement{
    margin-top: 0;
    margin-bottom:0;
    white-space: pre;
    vertical-align: middle;
    overflow-wrap: break-word;
    hyphens: auto;
  }


 th #firstHeaderRow{
    border-bottom: 0;
}

.mainColor {
    color: var(--main-color);
}

.change-height-of-dropdown {
    min-height: auto !important;
    height: 1em;
}
#area_info_csv_export {
width: 30px;
height: 30px;
background: white url(../../assets/icon/csv-down.png) no-repeat center center;
float: right;
margin-right: 10px;
cursor: pointer;
margin-left: auto;
}



